# Hotel data格式前處理

透過clean_dataset整理資料

label必須編碼為1,2,3,..

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Negative = 0 , objective = 1 , Positive = 2
data=pd.read_csv('./data/hotel_data.csv',encoding='utf8')
data = data[['polarity','text']]

In [3]:
# 只需要拿polarity做情緒分類0,1,2 
data.head(10)

    polarity                                               text
0   NEGATIVE  My daughter and I just returned from a four ni...
1  OBJECTIVE  I had searched for a good hotel at a rate of u...
2   NEGATIVE                                       Big mistake.
3   NEGATIVE                                 Our room was tiny,
4   NEGATIVE                        and the bath was small too.
5   NEGATIVE  The public areas were somewhat dingy and showe...
6   NEGATIVE  Even the bath towels were worn and becoming st...
7   NEGATIVE  Speaking of such, the maid did not replace sha...
8   NEGATIVE  You had to put a sign on the bed if you wanted...
9   NEGATIVE  The minibar was one of the kind that you have ...

In [4]:
# 觀看各有幾筆
print(data[ data['polarity'] == 'POSITIVE'].size)
print(data[ data['polarity'] == 'NEGATIVE'].size)
print(data[ data['polarity'] == 'OBJECTIVE'].size)

23046
25020
15200

In [5]:
# 只留下正面跟負面
#data = data[ (data['polarity'] == 'POSITIVE') |(data['polarity'] == 'NEGATIVE')]
data = data[ (data['polarity'] == 'POSITIVE') |(data['polarity'] == 'NEGATIVE')]

In [6]:
print(data[ data['polarity'] == 'POSITIVE'].size)
print(data[ data['polarity'] == 'NEGATIVE'].size)
print(data[ data['polarity'] == 'OBJECTIVE'].size)

23046
25020
0

In [7]:
data.head(5)

   polarity                                               text
0  NEGATIVE  My daughter and I just returned from a four ni...
2  NEGATIVE                                       Big mistake.
3  NEGATIVE                                 Our room was tiny,
4  NEGATIVE                        and the bath was small too.
5  NEGATIVE  The public areas were somewhat dingy and showe...

In [8]:
# NEGATIVE 取代為1 ,POSITIVE 取代為2 
data['polarity'] = data['polarity'].replace({'POSITIVE': 2, 'NEGATIVE': 1})

In [9]:
# text改名為Content
data = data.rename(columns={'text':'Content'})

In [10]:
data.head(5)

   polarity                                            Content
0         1  My daughter and I just returned from a four ni...
2         1                                       Big mistake.
3         1                                 Our room was tiny,
4         1                        and the bath was small too.
5         1  The public areas were somewhat dingy and showe...

In [11]:
data.head(5)

   polarity                                            Content
0         1  My daughter and I just returned from a four ni...
2         1                                       Big mistake.
3         1                                 Our room was tiny,
4         1                        and the bath was small too.
5         1  The public areas were somewhat dingy and showe...

In [175]:
#觀看 0~10筆資料
data.loc[0:10,['Content']]

                                             Content
0  My daughter and I just returned from a four ni...
2                                       Big mistake.
3                                 Our room was tiny,
4                        and the bath was small too.
5  The public areas were somewhat dingy and showe...
6  Even the bath towels were worn and becoming st...
7  Speaking of such, the maid did not replace sha...
8  You had to put a sign on the bed if you wanted...
9  The minibar was one of the kind that you have ...

In [12]:
data.head(5)

   polarity                                            Content
0         1  My daughter and I just returned from a four ni...
2         1                                       Big mistake.
3         1                                 Our room was tiny,
4         1                        and the bath was small too.
5         1  The public areas were somewhat dingy and showe...

In [177]:
# # 這邊為原版
# # lambda x: ...   給予x參數 做 ...
# # lambda = 用完即丟 簡單化執行一個方法
# def clean_dataset(dataframe, shuffle=False, encode_ascii=False, clean_strings = False, label_prefix='__label__'):
#     # Transform train file
#     df = dataframe[['Content']].apply(lambda x: x.str.replace(',',' '))  #將, 取代為空白
#     df['polarity'] = label_prefix + dataframe['polarity'].astype(str) + ' '  #將 'polarity'轉換為str
#     if clean_strings:
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('"',''))  #將各個符號取代前後加上空白
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('\'',' \' '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('.',' . '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('(',' ( '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(')',' ) '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('!',' ! '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('?',' ? '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(':',' '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(';',' '))
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.lower())
#     if shuffle:
#         df.sample(frac=1).reset_index(drop=True) 
#         #sample(frac=1) = 抽取樣本數,frac=0.8 就是抽取80%
#         # reset_index可以還原索引，從新變為預設的整型索引
#         # drop為False 則索引列會被還原為普通列，否則會遺失
#     if encode_ascii :
#         df[['Content']] = df[['Content']].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii','ignore').str.decode('utf-8'))
#     #df['name'] = ' ' + df['name'] + ' '
#     df['Content'] = ' ' + df['Content'] + ' '
#     return df

In [13]:
# lambda x: ...   給予x參數 做 ...
# lambda = 用完即丟 簡單化執行一個方法
def clean_dataset(dataframe, shuffle=False, encode_ascii=False, clean_strings = False, label_prefix='__label__'):
    # Transform train file
    df = dataframe[['Content']].apply(lambda x: x.str.replace(',',' '))  #將, 取代為空白
    df['polarity'] = label_prefix + dataframe['polarity'].astype(str) + ' ' #將 'polarity'轉換為str
    if clean_strings:
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('"',''))  #將各個符號取代前後加上空白
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('\'',' \' '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('.',' . '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('(',' ( '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(')',' ) '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('!',' ! '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('?',' ? '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(':',' '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(';',' '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.lower())
    if shuffle:
        df.sample(frac=1).reset_index(drop=True) 
        #sample(frac=1) = 抽取樣本數,frac=0.8 就是抽取80%
        # reset_index可以還原索引，從新變為預設的整型索引
        # drop為False 則索引列會被還原為普通列，否則會遺失
    if encode_ascii :
        df[['Content']] = df[['Content']].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii','ignore').str.decode('utf-8'))
    #df['name'] = ' ' + df['name'] + ' '
    df['Content'] = ' ' + df['Content'] + ' '
    return df

In [14]:
data_clean = clean_dataset(data, False, True, True) #前面先不執行  這邊再來執行

In [15]:
# 轉變一下欄位位置 把 polarity 到第一個
data_clean = data_clean [['polarity','Content']]

In [16]:
data_clean.head(5)

      polarity                                            Content
0  __label__1    my daughter and i just returned from a four n...
2  __label__1                                     big mistake .
3  __label__1                                 our room was tiny
4  __label__1                      and the bath was small too .
5  __label__1    the public areas were somewhat dingy and show...

In [17]:
# 看要轉csv 或 txt都可以
data_clean.to_csv('./data/hotel_label_clean.txt', index=None, header=None)