In [2]:
import pandas as pd
import numpy as np

In [3]:
# Negative = 0 , objective = 1 , Positive = 2
data=pd.read_csv('./data/hotel_data.csv',encoding='utf8')
data = data[['polarity','text']]

In [4]:
# 只需要拿polarity做情緒分類0,1,2 
data.head(10)

    polarity                                               text
0   NEGATIVE  My daughter and I just returned from a four ni...
1  OBJECTIVE  I had searched for a good hotel at a rate of u...
2   NEGATIVE                                       Big mistake.
3   NEGATIVE                                 Our room was tiny,
4   NEGATIVE                        and the bath was small too.
5   NEGATIVE  The public areas were somewhat dingy and showe...
6   NEGATIVE  Even the bath towels were worn and becoming st...
7   NEGATIVE  Speaking of such, the maid did not replace sha...
8   NEGATIVE  You had to put a sign on the bed if you wanted...
9   NEGATIVE  The minibar was one of the kind that you have ...

In [5]:
# 只留下正面跟負面
#data = data[ (data['polarity'] == 'POSITIVE') |(data['polarity'] == 'NEGATIVE')]
data = data[ (data['polarity'] == 'POSITIVE') |(data['polarity'] == 'NEGATIVE')]

In [6]:
data.head(5)

   polarity                                               text
0  NEGATIVE  My daughter and I just returned from a four ni...
2  NEGATIVE                                       Big mistake.
3  NEGATIVE                                 Our room was tiny,
4  NEGATIVE                        and the bath was small too.
5  NEGATIVE  The public areas were somewhat dingy and showe...

In [7]:
# text改名為Content
data = data.rename(columns={'text':'Content'})

In [8]:
data.head(5)

   polarity                                            Content
0  NEGATIVE  My daughter and I just returned from a four ni...
2  NEGATIVE                                       Big mistake.
3  NEGATIVE                                 Our room was tiny,
4  NEGATIVE                        and the bath was small too.
5  NEGATIVE  The public areas were somewhat dingy and showe...

In [9]:
def clean_dataset(dataframe, shuffle=False, encode_ascii=False, clean_strings = False, label_prefix='__label__'):
    # Transform train file
    df = dataframe[['Content']].apply(lambda x: x.str.replace(',',' '))  #將, 取代為空白
    df['polarity'] = label_prefix + dataframe['polarity'].astype(str) + ' ' #將 'polarity'轉換為str
    if clean_strings:
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('"',''))  #將各個符號取代前後加上空白
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('\'',' \' '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('.',' . '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('(',' ( '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(')',' ) '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('!',' ! '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace('?',' ? '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(':',' '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.replace(';',' '))
        df[['Content']] = df[['Content']].apply(lambda x: x.str.lower())
    if shuffle:
        df.sample(frac=1).reset_index(drop=True) 
        #sample(frac=1) = 抽取樣本數,frac=0.8 就是抽取80%
        # reset_index可以還原索引，從新變為預設的整型索引
        # drop為False 則索引列會被還原為普通列，否則會遺失
    if encode_ascii :
        df[['Content']] = df[['Content']].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii','ignore').str.decode('utf-8'))
    #df['name'] = ' ' + df['name'] + ' '
    #df['Content'] = ' ' + df['Content'] + ' '
    return df

In [10]:
data_clean = clean_dataset(data, False, True, True) #前面先不執行  這邊再來執行

In [11]:
# 轉變一下欄位位置 把 polarity 到第一個
data_clean = data_clean [['polarity','Content']]

In [13]:
data_clean.head(5)

             polarity                                            Content
0  __label__NEGATIVE   my daughter and i just returned from a four ni...
2  __label__NEGATIVE                                      big mistake .
3  __label__NEGATIVE                                  our room was tiny
4  __label__NEGATIVE                       and the bath was small too .
5  __label__NEGATIVE   the public areas were somewhat dingy and showe...

In [14]:
# 看要轉csv 或 txt都可以
data_clean.to_csv('./data/hotel_label_clean_onlyPN.csv', index=None, header=None)