# 切割資料集
## 目前是用10%測試

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
# 記得要用 header = none 因為沒有標題
data = pd.read_csv('./data/hotel_label_clean2.txt',header=None)

In [4]:
train, test = train_test_split(data, test_size = 0.1  )

In [5]:
# 原本資料共有
data.shape

(24033, 2)

In [6]:
train.head(5)

                 0                                                  1
23369  __label__1         13th floor view wasn`t up to much though .
609    __label__1   someone should remind them that we are the cus...
8801   __label__2   the room was reasonably clean  reasonably size...
3756   __label__1           spend your hard earned money elsewhere .
1904   __label__1   this hotel does not classify as a four star ho...

In [7]:
# 先存成txt  看要轉csv 或 txt都可以
train.to_csv('./data/hotel_label_only12_train.csv', index=None, header=None)

In [8]:
# 測試資料集共有
test.shape

(2404, 2)

In [9]:
test.head(5)

                 0                                                  1
13333  __label__1   and this was the only time we ever felt anythi...
169    __label__1   might be a good place for tourists  but try an...
11955  __label__2   the refrigerator was great in keeping some fre...
7741   __label__1   tables where not cleaned  and even the food wa...
21377  __label__2             also the rocks area which is amazing .

In [10]:
# 先存成txt  看要轉csv 或 txt都可以
test.to_csv('./data/hotel_label_only12_test.txt', index=None, header=None)